%h1= @board.name

.board
  - @board.columns.each do |id,name|
    .column{:id => 'column-' + id}
      .column-contents
        .column-name= name
        %ul.column-items
          %li Item 1
          %li Item 2
          %li Item 3
