// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.board
  @extend .row

  .column
    @extend .col-md-3
  .column-contents
    @extend .panel
    @extend .panel-default

    .column-name
      @extend .panel-heading
      font-weight: bold

    ul
      @extend .panel-body
      margin: 0px
      padding: 10px

      li
        list-style: none
        padding: 10px
        margin-bottom: 10px
        margin-bottom: 10px
        border: 1px solid #d3d7cf
        min-height: 40px
        background-color: #fff5a8

      li.placeholder
        background-color: #f9f9ff

      li.ui-sortable-helper
        transform: rotate(2deg)
