<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Debian Continuous Integration Results">
    <meta name="author" content="The Debian Project">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SKBB</title><%# FIXME %>
    <%#<link rel="icon" type="image/png" href=".."/>%><%# FIXME %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='wrap'>

      <!-- Fixed navbar -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="/">SKBB</a><%# TODO small screen logo %>
          <a class="navbar-brand visible-xs" href="/">SKBB</a><%# TODO large screen logo %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class='container'>
        <%= yield %>
      </div>

      <footer>
        <div class='container'>
          <p class='text-muted credit'>
          SKBB - Copyright © the SKBB development team. This is free
          software licensed under the GNU General Public License version 3 or
          later. Source code on
          <a href="https://gitlab.com/terceiro/skbb">git repository</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
